name: main
on: push
jobs:
  main:
    runs-on: windows-2019
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: mingw
      shell: cmd
      run: |
        set PATH=C:\Program Files\7-Zip;%PATH%
        if exist C:\mingw540_32\bin\gcc.exe goto mingw_end
        if not exist i686-5.4.0-release-win32-dwarf-rt_v5-rev0.7z curl -L -o i686-5.4.0-release-win32-dwarf-rt_v5-rev0.7z "https://netix.dl.sourceforge.net/project/mingw-w64/Toolchains%%20targetting%%20Win32/Personal%%20Builds/mingw-builds/5.4.0/threads-win32/dwarf/i686-5.4.0-release-win32-dwarf-rt_v5-rev0.7z"
        7z rn i686-5.4.0-release-win32-dwarf-rt_v5-rev0.7z mingw32 mingw540_32
        7z x -y -oC:\ i686-5.4.0-release-win32-dwarf-rt_v5-rev0.7z
        :mingw_end
    - name: mysql
      shell: cmd
      run: |
        set PATH=C:\Program Files\7-Zip;%PATH%
        if exist C:\mysql-5.5.62-win32\bin\mysql.exe goto mysql_end
        if not exist mysql-5.5.62-win32.zip curl -L -o mysql-5.5.62-win32.zip https://cdn.mysql.com/Downloads/MySQL-5.5/mysql-5.5.62-win32.zip
        7z x -y -oC:\mysql-5.5.62-win32 mysql-5.5.62-win32.zip
        :mysql_end
    - name: openssl
      shell: cmd
      run: |
        set PATH=C:\Program Files\7-Zip;%PATH%
        if exist C:\OpenSSL\bin\openssl.exe goto openssl_end
        if not exist OpenSSL_1_0_1m.zip curl -L -o OpenSSL_1_0_1m.zip https://github.com/mugiseyebrows/drenor/releases/download/OpenSSL_1_0_1m/OpenSSL_1_0_1m.zip
        7z x -y -oC:\ OpenSSL_1_0_1m.zip
        :openssl_end
    - name: main
      shell: cmd
      run: |
        set PATH=C:\mingw540_32\bin;C:\Qt\4.8.7\mingw540_32\bin;C:\mysql-5.5.62-win32\lib;C:\mysql-5.5.62-win32\bin;C:\OpenSSL\bin;C:\Strawberry\perl\bin;C:\Miniconda;C:\Miniconda\Scripts;C:\Program Files\7-Zip;%PATH%
        if exist "C:\Program Files\Git\usr\bin\patch.exe" set PATCH=C:\Program Files\Git\usr\bin\patch.exe
        if not defined PATCH (
        echo PATCH not found
        exit /b
        )
        move /y "C:\Program Files\OpenSSL" "C:\Program Files\OpenSSL_"
        where mugideploy > NUL 2>&1 || pip install mugideploy
        if not exist qt-everywhere-opensource-src-4.8.7.zip curl -L -o qt-everywhere-opensource-src-4.8.7.zip https://download.qt.io/archive/qt/4.8/4.8.7/qt-everywhere-opensource-src-4.8.7.zip
        if not exist qt-everywhere-opensource-src-4.8.7 7z x -y qt-everywhere-opensource-src-4.8.7.zip
        set MYSQL_INCLUDE=C:\mysql-5.5.62-win32\include
        set MYSQL_BIN=C:\mysql-5.5.62-win32\lib
        set OPENSSL_BIN=C:\OpenSSL\bin
        set OPENSSL_INCLUDE=C:\OpenSSL\include
        set OPENSSL_MODE=-openssl-linked
        set OPENSSL_LIBS="-lssleay32 -llibeay32"
        set mode=-debug-and-release
        set exclude=-no-declarative -no-multimedia -no-xmlpatterns -no-webkit -no-scripttools -no-script -nomake tests -nomake examples
        pushd qt-everywhere-opensource-src-4.8.7
            "%PATCH%" -N -p1 -i ..\0001-fix-doc-script.patch
            "%PATCH%" -N -p1 -i ..\0001-add-mysql-to-LIBS.patch
            call configure -prefix C:\Qt\4.8.7\mingw540_32 -opensource -developer-build -confirm-license -shared -platform win32-g++ %OPENSSL_MODE% -opengl desktop %mode% %exclude% -plugin-sql-mysql -plugin-sql-odbc -I %MYSQL_INCLUDE% -L %MYSQL_BIN% -I %OPENSSL_INCLUDE% -L %OPENSSL_BIN%
            dir
            type configure.cache
            mingw32-make -j4
            if not exist bin\sqldrivers mkdir bin\sqldrivers
            copy /y plugins\sqldrivers\qsqlite4.dll bin\sqldrivers
            mingw32-make docs
            mingw32-make install
        popd
        mugideploy copy-dep --bin C:\Qt\4.8.7\mingw540_32\bin\qmake.exe --dst C:\Qt\4.8.7\mingw540_32\bin
        mugideploy copy-dep --bin C:\Qt\4.8.7\mingw540_32\bin\QtNetwork4.dll --dst C:\Qt\4.8.7\mingw540_32\bin
        mugideploy copy-dep --bin C:\Qt\4.8.7\mingw540_32\plugins\sqldrivers\qsqlmysql4.dll --dst C:\Qt\4.8.7\mingw540_32\bin
        7z a -y Qt-4.8.7.7z C:\Qt\4.8.7\mingw540_32
    - name: upload
      uses: actions/upload-artifact@v4
      with:
        name: Qt-4.8.7.7z
        path: Qt-4.8.7.7z
    - name: release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: Qt-4.8.7.7z
